/* sales.css (売上用のcss)*/

body {
    margin-top: 50px; /* ヘッダーの高さ分だけ下に配置 */
    background-color: #ffffff; /* メインページの背景色 */
    color: #000000; /* メインページのテキスト色 */
}

.error{
    color: red; /* プレースホルダーの色を赤に設定 */
}

.tmain{
	text-align: center;/* 中央に揃える */
}

/*------------------------ 売上操作選択画面 -------------------------*/



/*-------------------------- 売上入力画面 ---------------------------*/

/* 左に整列させる */
form.sales_input {
	display: inline-block;
	text-align: left;
	background-color:  #ccc;
}

/* 売上入力,予測ボタン */
form.form1 {
	display: inline-block;
	padding:  20px;
	background-color:  #ccc;
}

button.button1 {
	width: 10em;
  height:5em;
}


/*--------------------------- 売上予測画面 --------------------------*/
/* 売上予測の画像を中央に */
IMG.imgGraph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    }
