/* sales.css (売上用のcss)*/

body {
    margin-top: 50px; /* ヘッダーの高さ分だけ下に配置 */
    background-color: #ffffff; /* メインページの背景色 */
    color: #000000; /* メインページのテキスト色 */
}

h2 {
	width: fit-content;
	margin: 20px auto;/* 中央に揃える */
}

h3 {
	width: fit-content;
	margin: auto;/* 中央に揃える */
}

.error{
    color: red; /* プレースホルダーの色を赤に設定 */
}

.tmain{
	width: fit-content;
    margin: 60px auto;/* 中央に揃える */
}

.center {
    width: fit-content;
    margin: auto;

}


.under {
	width: fit-content;
    margin: 120px auto;
}


/*------------------------ 売上操作選択画面 -------------------------*/


/* 売上入力,予測ボタン */
form.form1 {
	display: inline-block;
	padding:  30px;
}

/*-------------------------- 売上入力画面 ---------------------------*/

.sales_input {
	width: fit-content;
    margin: 30px auto;
}


/* 売上金額 */
.money {
	position: relative;
	top: 20px
}

/* 登録と戻るボタン */
.touroku {
	width: fit-content;
    margin: 40px auto;/* 中央に揃える */
}

.input_date {
	position: relative;
	left: 35px
}


form.form2 {
	width: fit-content;
    margin: 10px auto;/* 中央に揃える */
}

/* 売上入力,予測ボタンの大きさ */
button.button1 {
	width: 12em;
  height:8em;
  background-color: #6495ED;
}


button.button2 {
	width: fit-content;
    margin: 10px auto;/* 中央に揃える */
    background-color: #6495ED;
}



/*--------------------------- 売上予測画面 --------------------------*/
/* 売上予測の画像を中央に */
IMG.imgGraph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    }


