/* styles.css */
body {
    margin-top: 50px; /* ヘッダーの高さ分だけ下に配置 */
    background-color: #ffffff; /* メインページの背景色 */
    color: #000000; /* メインページのテキスト色 */
}

.main-content {
    margin-top: 50px; /* ヘッダーの高さ分だけ下に配置 */
}