/* css（森谷） */
/* ------------------------------------------------------------ */
/* 従業員情報登録 */
h2 {
	text-align: center;   /* 中央寄せ */
}

label {
    width: 150px;   /* 幅の調節 */
    vertical-align: top;
    font-weight: bold;   /* 文字を太く */
    text-align: left;   /* 左寄せ */
}

.center {
    width: fit-content;
    margin: auto;
}

.btn {
	position: relative;   /* relativeを指定 */
	top: 10px;   /* 上から10px移動 */
	left: 450px;   /* 左から450px移動 */
}

.link1 {
	position: relative;   /* relativeを指定 */
	top: 10px;   /* 上から10px移動 */
	left: 460px;   /* 左から460px移動 */
}

/* ------------------------------------------------------------ */
/* 従業員情報登録完了 */
.result_text {
	text-align: center;   /* 中央寄せ */
	font-size: larger;   /* 文字の大きさ */
}

.link2 {
	position: relative;   /* relativeを指定 */
	top: 10px;   /* 上から10px移動 */
	left: 800px;   /* 左から800px移動 */
}

/* ------------------------------------------------------------ */
/* 従業員シフト条件一覧 */
.link3 {
	position: relative;   /* relativeを指定 */
	top: 10px;   /* 上から10px移動 */
	left: 1000px;   /* 左から1000px移動 */
}

/* ------------------------------------------------------------ */
/* 従業員シフト条件登録 */


/* ------------------------------------------------------------ */
/* 従業員シフト条件登録完了 */


/* ------------------------------------------------------------ */
/* 従業員シフト条件変更 */


/* ------------------------------------------------------------ */
/* 従業員シフト条件変更完了 */


/* ------------------------------------------------------------ */