/* styles.css */
body {
    margin-top: 50px; /* ヘッダーの高さ分だけ下に配置 */
    background-color: #ffffff; /* メインページの背景色 */
    color: #000000; /* メインページのテキスト色 */
}


.main-content {
    margin-top: 50px; /* ヘッダーの高さ分だけ下に配置 */
}

/* styles.css に追加 */
h2 {
    color: black ;
}
ul, .main-content li {
    color: black ;
}
ul li a {
    color: black ;
}
ul li a:hover, .main-content ul li a:focus {
    color: red ;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

label {
  display: block;
  margin-top: 10px; /* 必要に応じてマージンを調整 */
}


input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.form-group {
    margin-bottom: 10px; /* 各フィールドの間にスペースを追加 */
  }


.Login {
    display: flex;
    flex-direction: column; /* 縦方向に配置 */
    align-items: center; /* 中央揃え */
    justify-content: center; /* 中央揃え */
    background-color: #f9f9f9; /* 背景色を設定（任意） */
    padding: 20px; /* パディングを設定（任意） */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* ボックスシャドウを設定（任意） */
    border-radius: 8px; /* 角を丸くする（任意） */
}



